node_modules/
.DS_Store
*.sqlite
*.png
*.jpg
.env
.idea


#pasta uploads do multer
uploads/photos/*
!uploads/photos/.gitkeep

#generated prisma
src/generated/


#pasta das keys 
keys/


# rsa keys
id_rsa_priv.pem
id_rsa_pub.pem